*.log
DeleteData.py
InsertData.py
UpdateTagsInDB.py
InsertIntoArrestsInfo.py
ViewData.py
addressCoords.csv
.Website/static/images/
.Website/static/fonts/
.Website/static/styles/
.Website/templates/
.Website/static/js/*.css
.Website/static/js/*.map
.Website/static/js/node_modules
.Website/static/js/dist
.Website/static/js/webpack.config.js
.Website/static/js/npm-shrinkwrap.json
.Website/static/js/package.json
.Website/static/js/.babelrc
.Website/static/js/GoogleMap.js