.FilterContainer {
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 60px;
    right: 10px;
    z-index: 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    border-radius: 2px;
}

.FilterContainer:hover {
    width: 120px;
    height: auto;
}

.FilterContainer-img {
    height: 26px;
    width: 26px;
    margin: 7px;
}