.leaflet-control-layers label {
  display: flex;
}

.leaflet-control-layers-group {
  min-width: 120px;
  display: flex;
  flex-direction: column;
  margin: 3px;
  background: #f9f5ed;
  padding: 2px;
}

.leaflet-control-layers-overlays {
  display: flex;
  flex-direction: column;
}

.leaflet-control-layers-group-label,
.leaflet-control-layers-item-label {
  display: flex;
  cursor: pointer;
}

.leaflet-control-layers-group-label {
  background: #f0ece6;
}

.leaflet-control-layers-group-name,
.leaflet-control-layers-item-name {
  text-decoration: none;
  font-family: QuickSand;
  font-size: 1em;
  font-weight: 600;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.leaflet-control-layers-group-name {
  font-size: 1.25em;
}

.leaflet-control-layers-scrollbar {
  overflow-y: scroll;
  padding-right: 10px;
}

.leaflet-control-layers-selector {
  display: none;
}

.leaflet-control-layers-group-image,
.leaflet-control-layers-item-image {
  height: 25px;
  padding: 0 2px;
  margin: 2px 10px 2px 2px;
}

.leaflet-control-layers-group-label-container {
  display: flex;
  background: #f0ece6;
}

.leaflet-control-layers-group-drop-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 2px;
  margin: 0 0 0 8px;
}

.leaflet-control-layers-group-name-container,
.leaflet-control-layers-group-item-container {
  min-width: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
