.FilterContainer {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    border-radius: 2px;
    margin-bottom: 5px;
    z-index: 88888888888888;
    transition: width .1s;
    -webkit-transition: width .1s;
    -moz-transition: width .1s;

    &.is-open {
        background-color: #f3efe6;
        margin-top: 10px;
        width: 225px;
        overflow-x: hidden;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #999999 #BBBBBB;
    }
}