.RemoveButton {
    height: 15px;
    width: 15px;
    background-color: white;
    min-width: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.3);
    &-dash {
        width: 10px;
        height: 2px;
        background-color: black;        
    }
}